body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    background-color: #241d1d; /* Cor de fundo da página */
    margin: 0; 
    padding: 0; 
}

header {
    text-align: center; 
    padding: 5px;
    background-color: rgb(14, 81, 90); 
}

h1 {
    text-align: center;
    padding-top: 0px;
}

h2

main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding-bottom: 90px;
}
footer {
  background-color: rgb(14, 81, 90);
  color: #ccc;
  text-align: center;
  padding: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  font-size: 1rem;
  height: 60px;
  padding: 10px 0;
  z-index: 100;
}

footer a {
  color: aquamarine;
  text-decoration: none;
}   

.guias{
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 10px 0;
    flex-wrap: wrap;    
}

.guias a{
    display: block;
    padding: 10px 20px;
    margin: 5px 10px;
    background-color: #DDDDDD;
    color: aquamarine;
    border: 1px solid aquamarine;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;

    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.guias a:hover {
    background-color: #0056b3; 
    color: white;
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

html {
  scroll-behavior: smooth;
}

/*-=-=-=-=-= Pesquisa =-=-=-=-=-*/
section input {
    width: 30rem;
    border: none; 
    padding: 1rem; 
    border-radius: 1.5rem; 
    margin-bottom: 1rem; 
    color: #45474B; 
    font-size: 1rem; 
    box-sizing: border-box; 
}

section button {
    padding: 0.8rem 1.2rem; 
    border: none; 
    border-radius: 1.5rem; 
    background-color: #30475E;
    color: #F5F7F8; 
    font-size: 1rem; 
    cursor: pointer; 
}

section button:hover {
    background-color: #30475E; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.resultados-pesquisa {
    width: auto; 
    overflow-y: auto; 
    margin: 1rem auto; 
    padding: 1rem; 
    border-radius: 0.6rem; 

    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-resultado {
    

    background: #FFFFFF; 
    border-radius: 0.6rem; 
    padding: 1rem; 
    margin-bottom: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.item-resultado h2 {
    font-size: 1.5rem; 
    color: #222831; 
}

.item-resultado a {
    text-decoration: none; 
    color: #30475E; 

}
.logo {   
        align-items: normal;
        float: right;
}

.item-resultado a:hover {
    text-decoration: underline;
}

.descricao-meta {
    color: #45474B;
    margin: 0.5rem 0;
}

#pesquisa{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    max-width: 600px;
    margin: 20px auto;
}

/*-=-=-=-=-= Background =-=-=-=-=-*/

/*

.fundo-pagina {
    background-size: cover; 
   
    background-position: center center; 
    
    background-attachment: fixed; 
    
    min-height: 100vh;
    
    background-repeat: no-repeat;
}
.fundo-home {
    background-image: url('https://cdn.blog.estrategiavestibulares.com.br/vestibulares/wp-content/uploads/2023/06/UFABC-1200x675.jpg');
}

*/


